In [8]:
from pandas import DataFrame, read_csv
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
kc_house=pd.read_csv(r'/Users/fengxiao/Documents/WU ML/Linear Regression/week1/kc_house_data.csv',index_col=False, header=0,dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [5]:
kc_house.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [6]:
kc_house_train=pd.read_csv(r'/Users/fengxiao/Documents/WU ML/Linear Regression/week1/kc_house_train_data.csv',index_col=False, header=0,dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [7]:
kc_house_test=pd.read_csv(r'/Users/fengxiao/Documents/WU ML/Linear Regression/week1/kc_house_test_data.csv',index_col=False, header=0,dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

Write a generic function that accepts a column of data (e.g, an SArray) ‘input_feature’ and another column ‘output’ and returns the Simple Linear Regression parameters ‘intercept’ and ‘slope’. Use the closed form solution from lecture to calculate the slope and intercept.

In [35]:
def simple_linear_regression(input_feature, output):
    x=input_feature.values.reshape(len(input_feature),1)
    y=output.values.reshape(len(output),1)
    model=linear_model.LinearRegression().fit(x,y)
    intercept=model.intercept_
    slope=model.coef_
    
    return(intercept, slope)

In [41]:
print simple_linear_regression(kc_house_train['sqft_living'],kc_house_train['price'])

(array([-47116.07907289]), array([[ 281.95883963]]))

Write a function that accepts a column of data ‘input_feature’, the ‘slope’, and the ‘intercept’ you learned, and returns an a column of predictions ‘predicted_output’ for each entry in the input column.

In [42]:
def get_regression_predictions(input_feature, intercept, slope) :   
    predicted_output=intercept+input_feature*slope
    
    return(predicted_output)

In [43]:
get_regression_predictions(2650,-47116.07907289,281.95883963)

700074.84594661

Write a function that accepts column of data: ‘input_feature’, and ‘output’ and the regression parameters ‘slope’ and ‘intercept’ and outputs the Residual Sum of Squares (RSS).

In [63]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    y0=get_regression_predictions(input_feature, intercept, slope)
    RSS=sum((output-y0)**2)
    return(RSS)

In [64]:
get_residual_sum_of_squares(kc_house_train['sqft_living'],kc_house_train['price'],-47116.07907289,270.54008697)

1213650326380491.5

Write a function that accept a column of data:‘output’ and the regression parameters ‘slope’ and ‘intercept’ and outputs the column of data: ‘estimated_input’. Do this by solving the linear function output = intercept + slope*input for the ‘input’ variable (i.e. ‘input’ should be on one side of the equals sign by itself)

In [66]:
def inverse_regression_predictions(output, intercept, slope):
    estimated_input=(output-intercept)/slope
    return(estimated_input)

In [67]:
inverse_regression_predictions(800000,-47116.07907289,281.95883963)

3004.3962451559123

nstead of using ‘sqft_living’ to estimate prices we could use ‘bedrooms’ (a count of the number of bedrooms in the house) to estimate prices. Using your function from (3) calculate the Simple Linear Regression slope and intercept for estimating price based on bedrooms. Save this slope and intercept for later (you might want to call them e.g. bedroom_slope, bedroom_intercept).

In [68]:
simple_linear_regression(kc_house_train['bedrooms'],kc_house_train['price'])

(array([ 109473.17762297]), array([[ 127588.95293399]]))

In [71]:
get_residual_sum_of_squares(kc_house_train['bedrooms'],kc_house_train['price'],109473.17762297,127588.95293399)

2143244498162059.5